 <header class="top-ribbon">
  <div class="ribbon-left">
    <a href="index.html" class="logo-button">
    <img src="assets/images/icon.png" alt="Logo"></a>
  </div>
  <nav class="ribbon-right">
    <a href="Cloud-Computing.html">Cloud Computing AWS</a>
    <a href="Devops.html">Devops</a>
    <a href="Job-assistance.html">Job assistance </a>
    <a href="Projects.html">Projects</a>
    <a href="Internships.html">Internships & Certifications</a>
  </nav>
  <button id="menuBtn" aria-label="Open menu"><img src="assets/images/menu-icon.png" alt="Menu"> </button>
  <div id="overlay"></div>

<nav id="sideNav" aria-label="Main navigation">
  <a href="index.html#tutor">About Us</a>
  <a href="courses.html">Our Courses</a>
  <a href="knowledge-base.html">Knowledge Base</a>
  <a href="contact.html">Contact Us</a>
</nav>
</header>