 <header class="top-ribbon">
  <div class="ribbon-left">
    <a href="index.html" class="logo-button">
    <img src="{{site.baseurl}}/assets/images/logo.png" alt="Logo"></a>
  </div>
  <nav class="ribbon-right">
    <a href="{{ site.baseurl }}/blogs/">blogs</a>
  </nav>
  <button id="menuBtn" aria-label="Open menu"><img src="assets/images/menu-icon.png" alt="Menu"> </button>
  <div id="overlay"></div>

<nav id="sideNav" aria-label="Main navigation">
  <a href="index.html#tutor">About Us</a>
  <a href="courses.html">Our Courses</a>
  <a href="knowledge-base.html">Knowledge Base</a>
  <a href="contact.html">Contact Us</a>
</nav>
</header>