.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 20px;
  padding: 40px;
}

.post-card {
  background: #c29494;
  border: 1px solid #1e293b;
  padding: 20px;
  border-radius: 10px;
}

.blog-post {
  max-width: 800px;
  margin: auto;
  padding: 40px;
}
