.hero {
  min-height: 100vh;
  width: 100%;
  padding: 140px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: linear-gradient(135deg,#0a1f44,#0f4c81);
  color: #fff;
}

.hero h1 {
  font-size: 52px;
  font-weight: 800;
}

.hero-sub {
  font-size: 22px;
  margin: 25px auto;
  max-width: 900px;
}

.section,
.section-hero {
  max-width: 1400px;
  margin: auto;
  padding: 40px 20px;
}

.section-hero {
  background: linear-gradient(135deg,#0a1f44,#0f4c81);
  color: #fff;
}
