<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/base.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/layout.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/navigation.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sections.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/components.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pages.css">

</head>
<body>

{% include navbar.html %}

{% include header.html %}

<section class="hero">
  <h1>DevOps Knowledge Base</h1>
  <p>Clean. Practical. No bullshit.</p>
</section>

<section class="posts-grid">
  {% assign random_posts = site.posts | sample:6 %}
  {% for post in random_posts %}
    {% include post-card.html post=post %}
  {% endfor %}
</section>

<div class="center">
  <a href="{{ site.baseurl }}/blogs/">See all blogs</a>
</div>

{% include footer.html %}
</body>
</html>
